extends layout

block content
  h1= title
  p Make some hits...


  div(class="row z-depth-4" id="drum-machine")
    each val in bankOne
      div(class="col s4 cov")
        button(class="btn play-btn clip col" data-key=val.keyTrigger id=val.id style="width: 100px; height: 70px; margin-bottom: 5px;")=val.keyTrigger
        audio(src=val.url id=val.keyTrigger class="audio")
    div(id="display" class="col s8") Go on lad...
  p by 
    span
      a(href="https://clickbait4587.pythonanywhere.com/" target="_blank") Clickbait4587
