@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');
body {
    padding: 50px;
    font: 14px;
    font-weight: bold;
    font-family: 'Jura', cursive
}

button {
    font-family: 'Jura' !important;
    font-weight: bolder;
}

a {
    /*color: #00B7FF;*/
    color: #004b69;
    font-size: 15px
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: rgb(189, 184, 184);
}

.inactiveStyle {
    width: "100px";
    height: "70px";
    margin-bottom: "5px"
}

.activeStyle {
    background-color: "orange";
    width: "100px";
    height: "70px";
    margin-bottom: "5px";
    transform: "scale(1.06)";
}

#drum-machine {
    background-color: rgb(131, 139, 139);
    width: 500px;
    padding: 60px 60px 0 60px;
    border-radius: 70px;
    border: 2px solid darkslategray;
}

button {
    border: 1px solid orange
}

div#display {
    color: #a39f9f;
    height: 40px;
    width: 300px;
    border: 2px solid rgb(32, 32, 32);
    background: linear-gradient(to bottom, rgb(88, 86, 86), rgb(100, 88, 88), rgb(73, 72, 72));
    position: relative;
    bottom: 280px;
    left: 35px;
    border-radius: 10px;
}

.clip {
    transition: 0.3s all;
    background: #616161
}

.clip:hover {
    transform: scale(1.01);
    background: #747272
}

.muted:hover {
    transform: scale(1);
}